# Files larger than GitHub's 100 MB per-file limit.
/figs_data_scripts/fig1/cbm/shp_pop.npy
/figs_data_scripts/fig1/cbm/shp_pop100K.npy
/figs_data_scripts/fig1/vbm/shp_pop.npy
/figs_data_scripts/fig1/vbm/shp_pop100K.npy
/figs_data_scripts/fig3/g_8000/cb_0
/figs_data_scripts/fig3/g_8000/cb_3
/figs_data_scripts/fig3/g_8000/cb_6
/figs_data_scripts/fig3/g_8000/cb_7
/figs_data_scripts/fig3/g_8000/cb_8
/figs_data_scripts/fig3/g_8000/vb_0
/figs_data_scripts/fig3/g_8000/vb_3
/figs_data_scripts/fig3/g_8000/vb_6
/figs_data_scripts/fig3/g_8000/vb_7
/figs_data_scripts/fig3/g_8000/vb_8
/figs_data_scripts/fig3/k/3.npy
/figs_data_scripts/fig3/k/cb_0.npy
/figs_data_scripts/fig3/k/cb_1.npy
/figs_data_scripts/fig3/k/cb_3.npy
/figs_data_scripts/fig3/k/cb_4.npy
/figs_data_scripts/fig3/k/cb_5.npy
/figs_data_scripts/fig3/k/cb_6.npy
/figs_data_scripts/fig3/k/vb_0.npy
/figs_data_scripts/fig3/k/vb_1.npy
/figs_data_scripts/fig3/k/vb_3.npy
/figs_data_scripts/fig3/k/vb_4.npy
/figs_data_scripts/fig3/k/vb_5.npy
/figs_data_scripts/fig3/k/vb_6.npy
/figs_data_scripts/fig4/part1/cbm/100K/fssh_pop_sh-0.npy
/figs_data_scripts/fig4/part1/cbm/fssh_pop_sh-0.npy
/figs_data_scripts/fig4/part1/cbm/shp_pop100K.npy
/figs_data_scripts/fig4/part1/vbm/100K/fssh_pop_sh-0.npy
/figs_data_scripts/fig4/part1/vbm/fssh_pop_sh-0.npy
/figs_data_scripts/fig4/part1/vbm/shp_pop.npy
/figs_data_scripts/fig4/part1/vbm/shp_pop100K.npy
/figs_data_scripts/fig4/part2/cbm/fssh_pop_sh-0.npy
/figs_data_scripts/fig4/part2/vbm/fssh_pop_sh-0.npy
